<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csust.mapper.PsViewMapper">
<select id="getPsViewByNianji0" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}	   and stuType=#{arg1}
	</select>
	<select id="getPsViewByNianji1" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	           and type =#{arg1}	   and stuType=#{arg2}
	</select>
	<select id="getPsViewByNianji2" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
             and stuType=#{arg3}
	         and type in (#{arg1},#{arg2})
	</select>
	
		<select id="getPsViewByMajor0" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	         and    major=#{arg1}	   and stuType=#{arg2}
	</select>
	<select id="getPsViewByMajor1" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	          and   major=#{arg1}
	           and type =#{arg2}	   and stuType=#{arg3}
	</select>
	<select id="getPsViewByMajor2" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	          and major=#{arg1}
              and stuType=#{arg4}
	          and type in (#{arg2},#{arg3})
	</select>
	
		<select id="getPsViewByClass0" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	               and   major=#{arg1}
	               and class=#{arg2}	   and stuType=#{arg3}
	</select>
	<select id="getPsViewByClass1" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	          and   major=#{arg1}
	          and class=#{arg2}
	           and  type =#{arg3}	   and stuType=#{arg4}
	</select>
	<select id="getPsViewByClass2" resultType="PsStudentView">
	    select * from view_pstudent where 
	             termYear=#{arg0}
	               and   major=#{arg1}
	               and class=#{arg2}
                   and stuType=#{arg5}
	               and type in (#{arg3},#{arg4})
	</select>


</mapper>