<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="csust.mapper.TeacherinfoMapper">
	
	<select id="listTeacherinfo" resultType="TeacherInfo">
	  select teacherId,teacherName,position,officeSpace,responsibility,phone from teacherinfo
	</select>
	    
	<insert id="addTeacherinfo" parameterType="TeacherInfo">
	  insert into teacherinfo(teacherName,position,officeSpace,responsibility,phone)
	         values(#{teacherName},#{position},#{officeSpace},#{responsibility},#{phone})	  
	</insert>
	
	<delete id="deleteTeacherinfo">
	   delete from  teacherinfo where  teacherId=#{0}
	</delete>
	
	<update id="updateTeacherinfo" parameterType="TeacherInfo">
	  update  teacherinfo set teacherName=#{teacherName},position=#{position},officeSpace=#{officeSpace},responsibility=#{responsibility},phone=#{phone}
	          where teacherId=#{teacherId}
	</update>
	
	</mapper>